{
    "rules": {
        "no-console":"off"
    },
    "env": {
        "amd": true,
        "es6": true,
        "jasmine": true,
        "node": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "extends": "eslint:recommended"
}